.standard-padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-height {
  height: 700px;
}

.scroll-news {
  background-color: #000000;
  overflow: scroll;
  height: 350px;
}

.mouse_line {
  stroke : #474747;
  stroke-width : 1px;
}
