.standard-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.well {
  background: #adadad;
}

.card {
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #BAE4F0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.sidebar-height {
  height: 700px;
}

.scroll-news {
  background-color: #000000;
  overflow: scroll;
  height: 350px;
}

.mouse_line {
  stroke : #474747;
  stroke-width : 1px;
}
